<!DOCTYPE html>
<html>
<head>
    <title>Online Snake</title>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    
</head>
<body>
<h1>Online Snake</h1>
    <p>Average ping/pong latency: <b><span id="ping-pong"></span>ms</b></p>
    <div id="field3">dd</div>
    <div id="time_t"></div>
    
    <canvas width="400" height="400" id="snake_field"></canvas>
    <script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='magicka.js')}}">
    </script>
</body>
</html>